<!DOCTYPE html>
<html ng-app="w3Mail">
<head>
  <title>W3Mail</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="application.js"></script>
</head>
<body ng-controller="tabController">
  <div class="col-xs-12 top-row">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12">
        <ul>
          <li>
            <b>W3villa Technologies</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 top-row">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12">
        <ul>
          <li>
            <b>W3villa Mail</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-2 col-xs-12">
    <ul>
      <li class="sideMenu">
        <button>Compose</button>
      </li>
      <li class="sideMenu link-wrapper">
        <a class="link" href="" ng-click="setCurrentTag('inbox')">Inbox</a>
      </li>
      <li class="sideMenu link-wrapper" ng-click="setCurrentTag('sent')">
        <a class="link" href="">Sent</a>
      </li>
      <li class="sideMenu link-wrapper" ng-click="setCurrentTag('trash')">
        <a class="link" href="">Trash</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10 col-xs-12">
    <ul class="nav nav-tabs">
      <li ng-class="{'active' : activeTab == 'primary'}" class="col-sm-3">
        <a href="#primaryMail" ng-click="setActiveTab('primary')">
          Primary
        </a>
      </li>
      <li ng-class="{'active' : activeTab == 'social'}" class="col-sm-3">
        <a href="#socialMail" ng-click="setActiveTab('social')">
          Social
        </a>
      </li>
      <li ng-class="{'active' : activeTab == 'promotion'}" class="col-sm-3">
        <a href="#promotionMail" ng-click="setActiveTab('promotion')">
          Promotion
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div ng-class="{'active' : activeTab == 'primary'}" class="tab-pane" id="primaryMail">
        <ul class="mail-wrapper">
          <li ng-repeat="mail in mails | filter:defaultTag | filter:activeTab" class="mail-row">
            <div class="row">
              <div class="col-sm-3">
                <input type="checkbox" name="select" class="mail-selecter">
                {{mail.from}}
              </div>
              <div class="col-sm-2">
                {{mail.subject}}
              </div>
              <div class="col-sm-7">
                {{mail.body}}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div ng-class="{'active' : activeTab == 'social'}" class="tab-pane" id="socialMail">
        <ul class="mail-wrapper">
          <li ng-repeat="mail in mails | filter:defaultTag | filter:activeTab" class="mail-row">
            <div class="row">
              <div class="col-sm-3">
                <input type="checkbox" name="select" class="mail-selecter">
                {{mail.from}}
              </div>
              <div class="col-sm-2">
                {{mail.subject}}
              </div>
              <div class="col-sm-7">
                {{mail.body}}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div ng-class="{'active' : activeTab == 'promotion'}" class="tab-pane" id="promotionMail">
        <ul class="mail-wrapper">
          <li ng-repeat="mail in mails | filter:defaultTag | filter:activeTab" class="mail-row">
            <div class="row">
              <div class="col-sm-3">
                <input type="checkbox" name="select" class="mail-selecter">
                {{mail.from}}
              </div>
              <div class="col-sm-2">
                {{mail.subject}}
              </div>
              <div class="col-sm-7">
                {{mail.body}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>